<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="classes" name="Suite" preserve-order="false">
  <test name="test1">
    <classes>
      <class name="practice.testng.CitiesTest"/>
     </classes>
    </test>
  <test name="test2">
  <classes>
      <class name="practice.testng.FruitsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
